
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
 font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(180deg, #0f0f0f, #121212);
  color: #ffffff;
  min-height: 100vh;
  padding: 40px 20px;
}

/* TITULO */
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
  text-shadow:
    0 0 10px rgba(204, 216, 208, 0.6),
    0 0 20px rgba(116, 116, 116, 0.4),
    0 0 40px rgba(61, 61, 61, 0.2);
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 10px rgba(92, 92, 92, 0.4),
      0 0 20px rgba(29, 185, 84, 0.2);
  }
  to {
    text-shadow:
      0 0 20px rgba(184, 184, 184, 0.8),
      0 0 40px rgba(110, 110, 110, 0.6);
  }
}


/* CONTENEDOR */
.playlist-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TARJETA PLAYLIST */
.playlist {
  background: rgba(54, 42, 42, 0.04);
  border-radius: 30px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(29, 22, 22, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playlist:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 50px rgba(100, 97, 97, 0.6);
}

/* TITULO PLAYLIST */
.playlist h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
   text-shadow:
    0 0 10px rgba(204, 216, 208, 0.6),
    0 0 20px rgba(116, 116, 116, 0.4),
    0 0 40px rgba(61, 61, 61, 0.2);
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 10px rgba(92, 92, 92, 0.4),
      0 0 20px rgba(29, 185, 84, 0.2);
  }
  to {
    text-shadow:
      0 0 20px rgba(184, 184, 184, 0.8),
      0 0 40px rgba(110, 110, 110, 0.6);
  }
}


/* IFRAME */
.playlist iframe {
  width: 100%;
  height: 380px;
  border-radius: 30px;
  border: none;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .playlist iframe {
    height: 320px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', system-ui, sans-serif;
  background: #0f0f0f;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

/* CONTENEDOR DEL FONDO */
#background-playlists {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

/* IMAGENES DE FONDO */
.bg-playlist {
  position: absolute;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  opacity: 0.12;
  filter: blur(1px);
  transition: transform 20s linear;
}

/* CONTENIDO */
.content {
  position: relative;
  z-index: 1;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

/* PLAYLISTS */
.playlist-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
